body {
    background-color:lightblue;
    
    font-size: 1em;
    }
    
      
    .grid-table {
        display: grid;
        grid-template-columns: 20% 40% 40%;
        
      }
      @media (max-width:500px) {
        .grid-table
        {
            grid-template-columns: 100%;
        }
      }